
/* Your CSS Code here. */
.container{
  margin:auto;
}
.container h1{
	text-align:center;
}
.input-field{
	height:100px;
	width:280px;

}
.input-field label{
	font-size:20px;
	font-weight:400;
	padding:5px;
}
.input-field input{
	border:2px solid maroon;
	margin:5px;
}